In [1]:
from matplotlib import font_manager, rc
font_name=font_manager.FontProperties(fname="c:/Windows/Fonts/malgun.ttf").get_name()
rc('font', family =font_name)


import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

mandarin_cultivated=pd.read_csv('C:/Users/ICT01_10/Documents/Gina/1-project/ppt/지영 _감귤 생산량/mandarin_cultivated.csv', encoding='CP949')
mandarin_cultivated.info() # 문자열 바꾸기 귀찮아서 ㅋㅋㅋㅋㅋ

mandarin_cultivated.columns=["연도", "성과수면적"]
mandarin_cultivated

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27 entries, 0 to 26
Data columns (total 2 columns):
index    27 non-null int64
1        27 non-null float64
dtypes: float64(1), int64(1)
memory usage: 560.0 bytes

      연도       성과수면적
0   1993  17808.0000
1   1994  17944.0000
2   1995  19460.0000
3   1996  21838.0000
4   1997  22366.0000
5   1998  22808.0000
6   1999  23311.0000
7   2000  23705.0000
8   2001  23565.0000
9   2002  23314.0000
10  2003  21635.0000
11  2004  19214.0000
12  2005  18642.0000
13  2006  18289.0000
14  2007  18223.0000
15  2008  17889.0000
16  2009  17901.0000
17  2010  17573.0000
18  2011  17378.0000
19  2012  17146.0000
20  2013  16993.0000
21  2014  16439.0000
22  2015  16112.0000
23  2016  17049.0000
24  2017  16630.6223
25  2018  16029.7769
26  2019  15386.0820

In [8]:
mandarin =pd.read_csv("C:/Users/ICT01_10/Documents/Gina/1-project/ppt/지영 _감귤 생산량/2018 statisitic.csv", 
                        encoding='UTF-8')
mandarin["생산량 톤"]=mandarin.iloc[:,2]*1000
mandarin["단수 kg/10a 기준"]=mandarin["생산량 톤"]/mandarin["재배면적"] *100
result=mandarin.copy()
result=result.iloc[8:,]
result=result.reset_index()
result.drop(labels="index", axis=1, inplace=True)
result

      연도   재배면적  생산량 천t    증감률   생산량 톤  단수 kg/10a 기준
0   1993  21727     619 -0.139  619000   2848.989736
1   1994  21500     548 -0.113  548000   2548.837209
2   1995  23662     615  0.120  615000   2599.104049
3   1996  25820     480 -0.219  480000   1859.024012
4   1997  25860     693  1.444  693000   2679.814385
5   1998  25870     544 -0.215  544000   2102.821801
6   1999  25781     639  0.175  639000   2478.569489
7   2000  26813     563 -0.119  563000   2099.727744
8   2001  26650     645  0.146  645000   2420.262664
9   2002  26234     643 -0.003  643000   2451.017763
10  2003  24560     632 -0.017  632000   2573.289902
11  2004  22048     584 -0.076  584000   2648.766328
12  2005  21430     638  0.092  638000   2977.134858
13  2006  21382     620 -0.028  620000   2899.635207
14  2007  21463     778  0.255  778000   3624.842753
15  2008  21201     636 -0.183  636000   2999.858497
16  2009  21354     727  0.143  727000   3404.514377
17  2010  21122     615 -0.154  615000   2911.656093
18  2011  21363     645  0.049  645000   3019.238871
19  2012  21324     654  0.014  654000   3066.966798
20  2013  21308     655  0.002  655000   3073.962831
21  2014  21312     688  0.050  688000   3228.228228
22  2015  21241     640 -0.070  640000   3013.040817
23  2016  21672     610 -0.047  610000   2814.691768
24  2017  21486     597 -0.021  597000   2778.553477
25  2018  21458     621  0.040  621000   2894.025538

In [23]:
dataset=pd.merge(result,mandarin_cultivated)
dataset["성과수비율"]=dataset.iloc[:,6]/dataset.iloc[:,1]
dataset

      연도   재배면적  생산량 천t    증감률   생산량 톤  단수 kg/10a 기준       성과수면적     성과수비율
0   1993  21727     619 -0.139  619000   2848.989736  17808.0000  0.819625
1   1994  21500     548 -0.113  548000   2548.837209  17944.0000  0.834605
2   1995  23662     615  0.120  615000   2599.104049  19460.0000  0.822416
3   1996  25820     480 -0.219  480000   1859.024012  21838.0000  0.845778
4   1997  25860     693  1.444  693000   2679.814385  22366.0000  0.864888
5   1998  25870     544 -0.215  544000   2102.821801  22808.0000  0.881639
6   1999  25781     639  0.175  639000   2478.569489  23311.0000  0.904193
7   2000  26813     563 -0.119  563000   2099.727744  23705.0000  0.884086
8   2001  26650     645  0.146  645000   2420.262664  23565.0000  0.884240
9   2002  26234     643 -0.003  643000   2451.017763  23314.0000  0.888694
10  2003  24560     632 -0.017  632000   2573.289902  21635.0000  0.880904
11  2004  22048     584 -0.076  584000   2648.766328  19214.0000  0.871462
12  2005  21430     638  0.092  638000   2977.134858  18642.0000  0.869902
13  2006  21382     620 -0.028  620000   2899.635207  18289.0000  0.855346
14  2007  21463     778  0.255  778000   3624.842753  18223.0000  0.849043
15  2008  21201     636 -0.183  636000   2999.858497  17889.0000  0.843781
16  2009  21354     727  0.143  727000   3404.514377  17901.0000  0.838297
17  2010  21122     615 -0.154  615000   2911.656093  17573.0000  0.831976
18  2011  21363     645  0.049  645000   3019.238871  17378.0000  0.813463
19  2012  21324     654  0.014  654000   3066.966798  17146.0000  0.804071
20  2013  21308     655  0.002  655000   3073.962831  16993.0000  0.797494
21  2014  21312     688  0.050  688000   3228.228228  16439.0000  0.771349
22  2015  21241     640 -0.070  640000   3013.040817  16112.0000  0.758533
23  2016  21672     610 -0.047  610000   2814.691768  17049.0000  0.786683
24  2017  21486     597 -0.021  597000   2778.553477  16630.6223  0.774021
25  2018  21458     621  0.040  621000   2894.025538  16029.7769  0.747030

In [33]:
dataset.columns=['year','cultivatedArea','productionTT','productionRate','productionT','dansu','agingCultivatedArea','agingRate']
#dataset
mandarin.dataset=dataset[["cultivatedArea","agingRate"]]
mandarin.dataset

    cultivatedArea  agingRate
0            21727   0.819625
1            21500   0.834605
2            23662   0.822416
3            25820   0.845778
4            25860   0.864888
5            25870   0.881639
6            25781   0.904193
7            26813   0.884086
8            26650   0.884240
9            26234   0.888694
10           24560   0.880904
11           22048   0.871462
12           21430   0.869902
13           21382   0.855346
14           21463   0.849043
15           21201   0.843781
16           21354   0.838297
17           21122   0.831976
18           21363   0.813463
19           21324   0.804071
20           21308   0.797494
21           21312   0.771349
22           21241   0.758533
23           21672   0.786683
24           21486   0.774021
25           21458   0.747030

In [ ]:
weather =pd.read_csv("C:/Users/ICT01_10/Documents/Gina/1-project/ppt/지영 _감귤 생산량/2018 statisitic.csv", 
                        encoding='UTF-8')
mandarin["생산량 톤"]=mandarin.iloc[:,2]*1000
mandarin["단수 kg/10a 기준"]=mandarin["생산량 톤"]/mandarin["재배면적"] *100
result=mandarin.copy()
result=result.iloc[8:,]
result=result.reset_index()
result.drop(labels="index", axis=1, inplace=True)
result